<template>
    <div class="card border-light ">

        <img :src="'/downloadFile/'+product.image.name" class="card-img-top" :alt="product.title">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description.slice(0,100) }}...</p>
            <a :href="'/product_/'+product._id" class="card-link">Buy</a>
        </div>
        <div class="card-footer bg-transparent">Price ${{product.price}} </div>
    </div>
    <!--<div>-->
        <!--<i>{{ product._id }}</i> {{ product.title }}-->
        <!--<span style="position: absolute; right: 0;">-->
            <!--<input type="button" value="Edit" @click="edit"/>-->
            <!--<input type="button" value="X" @click="del"/>-->
        <!--</span>-->
    <!--</div>-->
</template>

<script>
    import { mapActions } from 'vuex'

    export default {
        props: ['product', 'editProduct'],
        methods: {
            ...mapActions(['removeProductAction']),
            edit() {
                this.editProduct(this.product)
            },
            del() {
                this.removeProductAction(this.product)
            }
        }
    }
</script>

<style>

</style>