<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Bets</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" v-if="profile">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/new-product" >Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" >Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" style="padding: 4rem 2rem;">
            <div v-if="$route.path === '/'" class="jumbotron" >
                <div class="container">
                    <h1 class="display-3">Welcome to bets!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisl quam, tristique id volutpat vel, mattis quis turpis. Quisque feugiat tincidunt magna eu dictum. Aenean nec blandit leo, nec porttitor tellus. Aliquam et pulvinar enim. Vestibulum nec quam massa. Aenean eleifend diam ac ante tempor molestie. Mauris sapien urna, euismod vel felis sed, finibus aliquam diam. Pellentesque faucibus dui ac turpis facilisis, a auctor leo porttitor.</p>
                    <p>Aenean hendrerit tempus dui, non congue libero auctor non. Pellentesque pulvinar sapien ut magna rhoncus luctus. Sed eget eros ac est ultricies venenatis. Curabitur non odio scelerisque lorem placerat fringilla ornare in turpis. Donec scelerisque vel libero quis fringilla. Curabitur at massa ut urna laoreet tempus. Praesent et fringilla augue, et posuere ligula. Nam viverra, nisl sit amet ornare vestibulum, leo lorem sagittis eros, sit amet porta odio elit imperdiet lectus. Proin sem urna, tempor eget tincidunt id, viverra sollicitudin nisl. Aliquam odio lacus, placerat ac ipsum nec, varius imperdiet tortor. Duis ultrices euismod nibh. Nam pharetra dui aliquam nulla maximus, a posuere est suscipit. Sed aliquam velit at quam ornare ultrices.</p>
                </div>
            </div>
            <div class="container">
                <router-view></router-view>
            </div>
        </main>
        <footer class="container">
            <hr>
            <p>© Company 2017-2018</p>
        </footer>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import ProductList from 'pages/ProductList.vue'

    export default {
        components: {
            ProductList
        },
        computed: mapState(['profile', 'products']),

        created() {

        },
        beforeMount() {
            if(!this.profile && this.$route.path !== '/'){
                this.$router.replace('/auth')
            }
        }
    }
</script>

<style>

</style>