<template>
    <div>
        <div class="row">
            <div class="col h3">{{product.title}}</div>
            <div class="h3 d-flex flex-row-reverse ">Price ${{product.price}}</div>
        </div>
        <div class="d-flex justify-content-center">
            <img :src="'/downloadFile/'+product.image.name" class="img-fluid " :alt="product.title">
        </div>
        <p>{{product.description}}</p>
        <h3 class="h3">Attrs</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Attr name</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(row, index) in product.attrs">
                <th scope="row">{{index}}</th>
                <td><p>{{row.name}}</p></td>
                <td><p>{{row.value}}</p></td>
            </tr>
            </tbody>
        </table>

    </div>

</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "Product",
        computed: mapGetters(['getProductById']),
        data() {
            return {
                product: null
            }
        },
        created: function(){
            this.product = this.getProductById(this.$route.params.id)
        }
    }
</script>

<style scoped>

</style>