<template>
    <div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title" v-model="title" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" v-model="description"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" v-model="price">
            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>
        </div>

        <div class="form-group">
            <label></label>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Attr name</th>
                    <th scope="col">Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="(row, index) in attrs">
                    <th scope="row">{{index}}</th>
                    <td><input type="text" v-model="row.name"></td>
                    <td><input type="text" v-model="row.value"></td>
                    <a v-on:click="removeRow(index);" style="cursor: pointer">Remove</a>
                </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success btn-sm" @click="addRow">Add attr</button>
        </div>
        <div class="form-group">
            <label for="file">Image file(s)</label>
            <input type="file" ref="file" class="form-control-file" id="file" v-on:change="handleFileUpload()">
        </div>
        <input class="btn-lg btn-primary btn-block" type="button" value="Save" @click="save" />

    </div>
</template>

<script>
    import { mapActions, mapState }from 'vuex'
    import axios from 'axios'

    export default {
        props:['productAttr'],
        data() {
            return {
                _id: undefined,
                title: undefined,
                description:undefined,
                price:undefined,
                file:undefined,
                attrs:[]
            }
        },
        watch: {
            productAttr: function(newVal, oldVal){
                this._id = newVal._id
                this.title =newVal.title
                this.description =newVal.description
                this.price =newVal.price
                this.attrs =newVal.attrs
            }
        },
        computed: mapState(['profile']),
        methods:{
            ...mapActions(['addProductAction','updateProductAction']),
            async save() {
                let formData = new FormData()
                formData.append('file', this.file)

                try{
                    let result = await axios.post( '/uploadFile', formData, {headers: {'Content-Type': 'multipart/form-data'}})

                    this.file = {
                        name:result.data.fileName,
                        type:result.data.fileType,
                        size:result.data.size,
                    }

                    let product = {
                        _id: this._id,
                        title: this.title,
                        description: this.description,
                        price: this.price,
                        attrs: this.attrs,
                        image:this.file,
                        owner_id: this.profile._id
                    };

                    if(this._id){
                        this.updateProductAction(product)
                    } else {
                        this.addProductAction(product)
                    }
                }
                catch (err){
                    console.error(err)
                }

                this._id = undefined
                this.title = undefined
                this.description = undefined
                this.price = undefined
                this.attrs = undefined

            },
            addRow() {
                this.attrs.push({
                    name:"",
                    value:""
                })
            },
            removeRow(index) {
                console.log(index)
                this.attrs.splice(index, 1);
            },
            handleFileUpload(){
                this.file = this.$refs.file.files[0]
                console.log(this.$refs.file.files[0])

            }
        }
    }
</script>

<style>

</style>