<template>
    <div class="card-columns">
        <!--<product-form :productAttr="product"/>-->
        <product-row v-for="product in sortedProducts"
                     :key="product._id"
                     :product="product"
                     :editProduct="editProduct"/>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import ProductRow from 'components/products/ProductRow.vue'
    import ProductForm from 'pages/ProductForm.vue'

    export default {
        components:{
            ProductRow,
            ProductForm
        },
        data() {
            return {
                product: null
            }
        },
        computed: mapGetters(['sortedProducts']),
        methods: {
            editProduct(product) {
                this.product = product
            }
        }
    }
</script>

<style>

</style>