<template>
    <div>
        <h3>User profile</h3>
        <img :src="profile.userpic" width="100" height="100"/>
        <div>Name - {{profile.name}} </div>
        <div>Locale - {{profile.locale}} </div>
        <div>Gender - {{profile.gender}} </div>
        <div>Email - {{profile.email}} </div>
        <div>Last Visit - {{profile.lastVisit}} </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        name: "Profile",
        computed: mapState(['profile'])
    }
</script>

<style scoped>

</style>